body {
    font-family: Arial, Helvetica, sans-serif;
}

#grid {
    display: grid;
    grid-template-columns: repeat(32, 26px);
    grid-template-rows: repeat(18, 26px);
    justify-content: center;
}

.space {
    width: 22px;
    height: 22px;
    font-family: sans-serif;
    text-align: center;
    padding: 0;
    font-weight: bold;
}

.row0 {
    background-color:crimson;
    color: teal;
    border-style: none;
    width: 26px;
    height: 26px;
}

.row17 {
    background-color: crimson;
    color: teal;
    border-style: none;
    width: 26px;
    height: 26px;
}

.col0 {
    background-color: crimson;
    color: teal;
    border-style: none;
    width: 26px;
    height: 26px;
}

.col31 {
    background-color: crimson;
    color: teal;
    border-style: none;
    width: 26px;
    height: 26px;
}

/*Example modal taken from W3 schools*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

  .scoreboard {
    justify-content: center;
    text-align: center;
  }
.scoreboardChild{
    display: inline;
    justify-content: center;
    text-align: center;
}

h1 {
    justify-content: center;
    text-align: center;
}

.untouched {
    background-color: rgb(228, 228, 228);
    border-style: outset;
    border-radius: 1px;
    margin: 0px;
    padding: 0px;
    border-width: 2px;
}